/* styles.css */

.UserData {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

.UserData span {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.UserData span:last-child {
    margin-bottom: 0;
}