/* Navbar.css */

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    padding: 20px;
}

.Navbar-logo img {
    height: 40px;
}

.Navbar-pagination {
    list-style: none;
    display: flex;
    gap: 20px;
}

.Navbar-pagination li {
    color: #fff;
    font-size: 18px;
}

.Navbar-pagination a {
    text-decoration: none;
    color: #fff;
}

li .active{
    color: gray;
}