.App {
  text-align: center;
}

.Components{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Component{
  width: 300px;
  padding: 10px;
  margin: 20px;
  background: rgb(242, 242, 242);
  border-radius: 10px;
}

.Component h5{
  color: rgb(175, 175, 175);
}
