body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 auto;
  background-color: #fff;
}

.Content{
  margin: auto;
  max-width: 800px;
  padding: 20px;
}

h1 {
  color: #333;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

.NotFound {
  text-align: center;
  padding: 20px;
  background-color: #e74c3c;
  color: #fff;
}

.Product {
  text-align: center;
  padding: 20px;
  background-color: #3498db;
  color: #fff;
}

.Product img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

/* styles.css */

.ProductDetail {
  text-align: center;
  padding: 20px;
  background-color: #ecf0f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.ProductDetail h1 {
  color: #333;
}

.ProductDetail img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.ProductDetail p {
  color: #555;
  font-size: 16px;
  margin: 10px 0;
}
