body {
    margin: 0;
    padding: 0;
}

.Navbar{
    margin-bottom: 50px;
}

h1, p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Cards{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}